.form-helper-text {
  color: #ccc;
  font-size: 12px;
  text-align: left;
  margin-top: 2px;
  line-height: 1em;
  min-height: 1em;

  &-text--dense {
    margin-top: 2px;
  }
  &-text--error {
    color: hsl(var(--error-hue), 100%, 52%);
  }
  &-text--disabled {
    color: hsl(0, 50%, 42%);
  }
}
