.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  vertical-align: top;
  /*Reset fieldset default style*/
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.margin-normal {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-dense {
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.form-control-error .form-label,
.form-control-error .form-helper-text {
  color: hsl(var(--hueError), 100%, 52%);
}
