.form-label {
  color: currentColor;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

.focused {
  color: hsl(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent));
}

.error {
  color: #ddd;
}

.disabled {
  color: #ddd;
}

.error.asterisk:after {
  content: "*"
}
