.root {
  color: #797979;
  font-size: 12px;
  text-align: left;
  margin-top: 2px;
  line-height: 1em;
  min-height: 1em;
}

.dense {
  margin-top: 2px;
}

.error {
  color: hsl(var(--hueError), 100%, 52%);
}

.disabled {
  color: hsl(0, 50%, 42%);
}
