.root {
  color: currentColor;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

.focused {
  color: hsl(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent));
}

.error {
  color: hsl(var(--hueError), 100%, 50%);
}

.disabled {
  color: #ddd;
}

.required::after {
  content: '*';
  color: tomato;
}
