.FormControlLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  /*// Remove grey highlight*/
  -webkit-tap-highlight-color: transparent;
}

.disabled {
  color: #888888;
  cursor: not-allowed;
}

.label {
  user-select: none;
  padding-left: 0.5rem;
  display: inline-flex;
}
