.popper {
  z-index: 2050;
  pointer-events: none;
}

.interactive {
  pointer-events: auto;
}

.open {
  pointer-events: auto;
}

.tooltip {
  background-color: hsla(0, 0%, 0%, .7);
  border-radius: 2px;
  color: #fff;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
  min-height: 0;
  padding: 0.4rem;
  font-size: 0.8rem;
  line-height: 1em;
}

.open {
  opacity: 0.9;
  transform: scale(1);
  transition: opacity 0.5s;
}

.touch {
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1em;
}

.Placement-left {
  transform-origin: right center;
  margin: 0 3px;
}

.Placement-right {
  transform-origin: left center;
  margin: 0 3px;
}

.Placement-top {
  transform-origin: center bottom;
  margin: 0 3px;
}

.Placement-bottom {
  transform-origin: center top;
  margin: 0 3px;
}
