.snackbar-content {
  pointer-events: initial;
  color: #000;
  background-color:#ccc;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 6px 16px;

  &--message {
    padding: 16px 0;
  }
  
  &--action {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 16px;
    margin-right: 16px;
  }
}
@media (min-width: 768px) {
  .snackbar-content {
    min-width: 288;
    max-width: 568;
    border-radius: 2;
  }
}
@media (min-width: 576px) {
  .snackbar-content {
    flex-grow: 1;
  }
}
