.shadow{
  position: relative;
}
.shadow:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
  z-index: -1;
  color:rgba(167, 193, 210, 0.5);
}
.shadow-1:before{
  box-shadow: 0 2px 4px 1px currentColor;
}
.shadow-2:before{
  box-shadow: 0 3px 6px currentColor, 0 3px 6px currentColor;
}
.shadow-3:before{
  box-shadow: 0 10px 20px currentColor, 0 6px 6px currentColor;
}
.shadow-4:before{
  box-shadow: 0 14px 28px currentColor, 0 10px 10px currentColor;
}
.shadow-5:before{
  box-shadow: 0 10px 40px currentColor, 0 0 12px currentColor;
}
