.text {
  margin: 0;
  display: inline-block;
  line-height: 1;
}

.text-bold {
 font-weight: bold;
}

/* Styles applied to the root element if `align="left"`. */
.align-left {
  text-align: left;
}

/* Styles applied to the root element if `align="center"`. */
.align-center {
  text-align: center;
}

/* Styles applied to the root element if `align="right"`. */
.align-right {
  text-align: right;
}

/* Styles applied to the root element if `align="justify"`. */
.align-justify {
  text-align: justify;
}

/* Styles applied to the root element if `nowrap={true}`. */
.no-wrap {
  overflow: hidden;
  text-Overflow: ellipsis;
  white-Space: nowrap;
}

/* Styles applied to the root element if `gutterBottom={true}`. */
.gutter-bottom {
  margin-bottom: 0.35em;
}

/* Styles applied to the root element if `paragraph={true}`. */
.paragraph {
  margin-bottom: 16px;
}

/* Styles applied to the root element if `color="inherit"`. */
.color-inherit {
  color: inherit;
}

/* Styles applied to the root element if `color="primary"`. */
.color-muted {
  color: var(--text-muted);
}

/* Styles applied to the root element if `color="secondary"`. */
.color-light {
  color: var(--text-light);
}

/* Styles applied to the root element if `color="textPrimary"`. */
.color-dark {
  color: var(--text-dark);
}

/* Styles applied to the root element if `color="error"`. */
.color-error {
  /*color: theme.palette.error.main;*/
}

/* Styles applied to the root element if `display="inline"`. */
.display-inline {
  display: inline;
}

/* Styles applied to the root element if `display="block"`. */
.display-block {
  display: block;
}

/*https://www.carbondesignsystem.com/guidelines/typography/overview/*/
.size-sm {
  font-size: 0.875rem;
}

.size-base {
  font-size: 1rem;
}

.size-md {
  font-size: 1.125rem;
}

.size-xmd {
  font-size: 1.25rem;
}

.size-xxm {
  font-size: 1.5rem;
}

.size-lg {
  font-size: 1.75rem;
}

.size-xlg {
  font-size: 2rem;
}

.size-xxl {
  font-size: 2.25rem;
}

.size-hg {
  font-size: 2.625rem;
}

.size-xhg {
  font-size: 3rem;
}

.size-xxh {
  font-size: 3.375rem;
}

.size-gn {
  font-size: 3.75rem;
}

.size-xgn {
  font-size: 4.25rem;
}

.size-xxg {
  font-size: 4.75rem;
}

.outline{
  text-shadow:
    1px 1px 0 hsl(var(--huePrimary),60%,20%),
    -1px -1px 0 hsl(var(--huePrimary),60%,20%),
    1px -1px 0 hsl(var(--huePrimary),60%,20%),
    -1px 1px 0 hsl(var(--huePrimary),60%,20%),
    1px 1px 0 hsl(var(--huePrimary),60%,20%),
    2px 2px 2px hsl(var(--huePrimary),60%,20%);
  color: #fff;
  font-weight: bold;
}

.font-accent {
  font-family: var(--font-accent);
}

.font-display {
  font-family: var(--font-display);
}