.vignette {
  display: inline-block;
  fill: none;
  height: 1rem;
  stroke: currentColor;
  stroke-linecap: inherit;
  stroke-linejoin: inherit;
  overflow: visible;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
}