/* Styles applied to the root element if `variant="permanent or persistent"`. */
.drawer {
  width: 240px;
  flex-shrink: 0;
}
.drawer-docked {
  flex: 0 0 auto;
}

/* Styles applied to the `Paper` component. */
.paper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
  z-Index: 1999;
  background-color: #ddd;
  -webkit-overflow-scrolling: touch;
  /*// temporary style;*/
  position: fixed !important;
  top: 0;
  width: 240px;
  /*// We disable the focus ring for mouse touch and keyboard users.
  // At some point it would be better to keep it for keyboard users.
  // :focus-ring CSS pseudo-class will help.*/
  outline: none;
}

/* Styles applied to the `Paper` component if `anchor="left"`. */
.paper-anchor-left {
  left: 0;
  right: auto;
}

/* Styles applied to the `Paper` component if `anchor="right"`. */
.paper-anchor-right {
  left: auto;
  right: 0;
}

/* Styles applied to the `Paper` component if `anchor="top"`. */
.paper-anchor-top {
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  height: auto;
  max-height: 100%;
}

/* Styles applied to the `Paper` component if `anchor="bottom"`. */
.paper-anchor-bottom {
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  max-height: 100%;
}

/* Styles applied to the `Paper` component if `anchor="left"` & `variant` is not "temporary". */
.paper-anchor-docked-left {
  border-right: 1px solid #ccc;
}

/* Styles applied to the `Paper` component if `anchor="top"` & `variant` is not "temporary". */
.paper-anchor-docked-top {
  border-bottom: 1px solid #ccc;
}

/* Styles applied to the `Paper` component if `anchor="right"` & `variant` is not "temporary". */
.paper-anchor-docked-right {
  border-left: 1px solid #ccc;
}

/* Styles applied to the `Paper` component if `anchor="bottom"` & `variant` is not "temporary". */
.paper-anchor-docked-bottom {
  border-top: 1px solid #ccc;
}

/* Styles applied to the `Modal` component. */
/* .drawer-modal {} */
.content-shift-left {
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  margin-left: 240px;
  flex-grow: 1;
}
