.link {
  text-decoration: none;
  transition: opacity 0.3s ease 0s;
}

.link:hover {
  opacity: 0.8;
}

.color-primary {
  color: hsl(var(--huePrimary), var(--saturationPrimary), calc(var(--lightnessPrimary) * 0.8));
}

.color-secondary {
  color: hsl(var(--hueSecondary), var(--saturationSecondary), calc(var(--lightnessSecondary) * 0.8));
}

.color-accent {
  color: hsl(var(--hueAccent), var(--saturationAccent), calc(var(--lightnessAccent) * 0.8));
}

.color-light {
  color: hsl(0, 100%, 100%);
}

.color-dark {
  color: hsla(0, 100%, 0%, 0.8);
}

.more-link:after {
  content: ">";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0 5px 5px 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.solid-variant {
  border-bottom-style: solid;
}

.dashed-variant {
  border-bottom-style: dashed;
}

.always-underline, .hover-underline:hover {
  border-bottom-width: 1px;
  border-bottom-color: currentColor;
}
