.carousel {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
}

.wrapper {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.item {
  width: 100%;
  height: 100%;
  /*pointer-events: none;*/
  user-select: none;
  overflow: hidden;
}
