.icon {
  display: inline-block;
  fill: none;
  width: 1em;
  stroke: currentColor;
  stroke-linecap: inherit;
  stroke-linejoin: inherit;
  overflow: visible;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
  stroke-width: 2px;
  stroke-linecap: round;
}

.icon-hover:hover {
  --color-stroke: hsla(var(--color-secondary-start), 1) !important;
  cursor: pointer;
}

.lg-size {
  font-size: 96px;
}

.md-size {
  font-size: 24px;
  fill: none;
}

.sm-size {
  font-size: 16px;
  fill: none;
}

.link-icon {
  --color-stroke: hsla(var(--color-secondary-start), 1);
}

.link-icon:hover {
  --color-stroke: hsla(0 100% 0%, 1);
}

.fill {
  stroke: none;
}

.fill-current {
  fill: currentColor;
}

.fill-primary {
  fill: hsl(var(--huePrimary), var(--saturationPrimary), var(--lightnessPrimary));
}

.fill-accent2 {
  fill: hsla(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent), 0.7);
}

.fill-secondary {
  fill: hsl(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary));
}

.fill-accent {
  fill: hsl(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent));
}
