.field-control {
   /*Mimics the default input display property used by browsers for an input.*/
  display: inline-flex;
  position: relative;
  color: currentColor;
  padding-bottom: 2px;

  .field-control--postfix{
    position: absolute;
    right: 0;
    top: 30%;
  }
  &--underline:before {
    background-color: currentColor;
    left: 0;
    bottom: 0;
     /*Doing the other way around crash on IE11 "" https://github.com/cssinjs/jss/issues/242*/
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  &--underline:hover:not(.disabled):before {
    background-color: #000;
    height: 2px;
  }
  &--underline.field-control--disabled:before {
    background: transparent;
    background-color: #ccc;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 5px 1px;
  }

  &--underline:after {
    background-color: hsla(var(--color-secondary-start), 1);
    left: 0;
    bottom: 0;
     /*Doing the other way around crash on IE11 "" https://github.com/cssinjs/jss/issues/242*/
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease 0s;
  }

  &--multiline {
    padding: 10px 0 10px;
  }

  &--fullWidth {
    width: 100%;
  }
}


.input {
  font: inherit;
  color: currentColor;
  /*slight alteration to spec spacing to match visual spec result*/
  border: 0;
  display: block;
  box-sizing: content-box;
  vertical-align: middle;
  background: none;
  margin: 0;  /*Reset for Safari*/
  width: 100%;

  &--focused:after {
    transform: scaleX(1);
  }

  &--error:after {
    background-color: hsl(var(--error-hue), 100%, 52%);
    transform: scaleX(1); /* error is always underlined in hsla(var(--color-secondary-start), 1)*/
  }
  &-base{
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    background-color: #eaeaeab3;
    line-height: 1.1875em;
  }
  &--formControl{
     padding: 20px 0 17px 5px;
  }
  &::selection{
    background-color: hsla(var(--color-secondary-start), 1);
    color: #fff;
  }
  &::-webkit-input-placeholder{
    outline: 0;
  }

  &::-webkit-search-decoration {
     /*Remove the padding when type=search.*/
    appearance: none;
  }

   /*Reset Firefox invalid requihsla(var(--color-secondary-start), 1) input style*/
  &:invalid {
    box-shadow: none;
  }

  /*Show and hide the placeholder logic*/
 /*.field-control--label[data-shrink=false]::-webkit-input-placeholder {
   &::-webkit-input-placeholder: placeholderHidden
 }*/

  &--inputDense {
   padding-top: 10 / 2;
  }

  &--disabled {
   color: #ccc;
   opacity: 1;  /*Reset iOS opacity*/
  }

  &--inputSingleline {
    height: 1em;
    /* background-color: hsla(0, 0%, 70%, 0.2); */
  }

  &--inputSearch {
    appearance: textfield; /*Improve type search style.*/
  }
  
  &--inputMultiline {
    resize: none;
  }

}
