.input {
  font: inherit;
  color: currentColor;
  /*slight alteration to spec spacing to match visual spec result*/
  border: 0;
  display: block;
  box-sizing: content-box;
  vertical-align: middle;
  background: none;
  margin: 0; /*Reset for Safari*/
  width: 100%;
}

.input:focus {
  outline: 0;
}

.error:after {
  background-color: hsl(var(--hueError), 100%, 52%);
  transform: scaleX(1); /* error is always underlined in hsla(var(--color-secondary-start), 1)*/
}

.root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  background-color: #eaeaeab3;
  line-height: 1.1875em;
  flex-wrap: wrap;
}

.form-control {
  padding: 20px 0 17px 5px;
}

.input::selection {
  background-color: hsl(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary));
  color: hsl(var(--huePrimary), var(--saturationPrimary), var(--lightnessPrimary));
}

.input::-webkit-input-placeholder {
  outline: 0;
}

.input::-webkit-search-decoration {
  /*Remove the padding when type=search.*/
  appearance: none;
}

/*Reset Firefox invalid requihsla(var(--color-secondary-start), 1) input style*/
.input:invalid {
  box-shadow: none;
}

/*Show and hide the placeholder logic*/
/*.field-control--label[data-shrink=false]::-webkit-input-placeholder {
  &::-webkit-input-placeholder: placeholderHidden
}*/

.input-dense {
  padding-top: 5px;
}

.disabled {
  color: #ccc;
  opacity: 1; /*Reset iOS opacity*/
  cursor: default;
  pointer-events: none;
}

.underline:before {
  background-color: hsl(0, 0%, 80%);
  left: 0;
  bottom: 0;
  /*Doing the other way around crash on IE11 "" https://github.com/cssinjs/jss/issues/242*/
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
}

.underline:hover::before {
  background-color: #9a9a9a;
  height: 2px;
}

.underline._3VhPp::before {
  background-color: #ccc;
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 5px 1px;
}

.underline::after {
  background-color: hsl(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary));
  left: 0;
  bottom: 0;
  /*Doing the other way around crash on IE11 "" https://github.com/cssinjs/jss/issues/242*/
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 0.3s ease 0s;
}

.full-width {
  width: 100%;
}

.underline.focused::after {
  transform: scaleX(1);
}

.input-singleline {
  height: 1em;
}

.input-search {
  appearance: auto; /*Improve type search style.*/
}

.multiline {
  resize: none;
}

.start-adornment {

}