.textarea {
  flex: 1 0 auto;
  resize: none;
  font: inherit;
  padding: 0;
  cursor: inherit;
  box-sizing: border-box;
  line-height: inherit;
  border: none;
  outline: none;
  background: transparent;
}

/* .root {
  position: relative;
  width: 100%;
} */

.shadow {
  resize: none;

  /* Overflow also needed to here to remove the extra row
  added to textareas in Firefox.
  */
  overflow: hidden;

  /* Visibility needed to hide the extra text area on ipads */
  visibility: hidden;
  position: absolute;
  white-space: pre-wrap;
  height: 0;
  top: 0;
  left: 0;
  transform: translateZ(0);
  padding: 0;
  box-sizing: border-box;
}
