/*    imported from step-icon.css    */

/*   imported from step-icon.css   */

/*  imported from step-icon.css  */

/* Styles applied to the root element. */
._3Rau9 {
  display: block;
  color: #ccc;
  
  &._2W8E5{
    color:#ccc;
  }

  &.L33al{
    color:#ccc;
  }

  &._3uBhC{
    color:#ccc;
  }
}

/* Styles applied to the SVG text element. */
._3vLMB {
  fill: #ccc;
  font-size: 16px;
}
