/*     imported from switch.css   */

/*    imported from switch.css  */

/*   imported from switch.css */

._39GCo {
  display: inline-flex;
  width: 50px;
  height: 26px;
  position: relative;
  flex-shrink: 0;
/*  For correct alignment with the text.*/
  vertical-align: middle;

  /* Styles used to create the `icon` passed to the internal `SwitchBase` component `icon` prop. */
  &-icon {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: currentColor;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  /* Styles applied the icon element component if `checked={true}`. */
  &-iconChecked {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  }
  /* Styles applied to the internal `SwitchBase` component's `root` class. */
  & &-base {
    z-index: 1;
    color: #fafafa;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }


  /* Styles applied to the internal SwitchBase component's root element if `color="secondary"`. */
  &-colorSecondary._2J0_S + &-bar {
    background-color: hsla(var(--color-secondary-start), 0.7);
  }
  &-colorSecondary._2J0_S &-icon {
    background-color: hsl(var(--color-secondary-start));
  }
  /* Styles applied to the internal SwitchBase component's root element if `color="primary"`. */
  /* .switch-colorPrimary.switch-checked + .switch-bar {
    background-color: hsla(var(--color-primary-start), 1);
  } */
  &-colorPrimary._2J0_S &-icon {
    background-color: hsla(var(--color-primary-start), 1);
  }

  /* Styles applied to the bar element. */
  &-thumb {
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
      background-color: currentColor;
      width: 20px;
      height: 20px;
      border-radius: 50%;
  }
  /* Styles applied to the track element. */
  &-track {
    border-radius: 7px;
    display: block;
    position: absolute;
    width: 34px;
    height: 14px;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -17px;
    background-color: #ccc;
    opacity: 0.3;
  }
}
