.shadow {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.shadow1 {
  box-shadow: 0 2px 4px 1px hsla(var(--huePrimary),60%,20%,0.1), 0 0 0 1px hsla(var(--huePrimary),60%,20%,0.1);
}

.shadow2 {
  box-shadow: 0 3px 6px hsla(var(--huePrimary),60%,20%,0.1), 0 3px 6px hsla(var(--huePrimary),60%,20%,0.1);
}

.shadow3 {
  box-shadow: 0 10px 20px hsla(var(--huePrimary),60%,20%,0.1), 0 6px 6px hsla(var(--huePrimary),60%,20%,0.1);
}

.shadow4 {
  box-shadow: 0 14px 28px hsla(var(--huePrimary),60%,20%,0.1), 0 10px 10px hsla(var(--huePrimary),60%,20%,0.1);
}

.shadow5 {
  box-shadow: 0 10px 40px hsla(var(--huePrimary),60%,20%,0.1), 0 0 12px hsla(var(--huePrimary),60%,20%,0.1);
}

.paper-popover {
  position: absolute !important;
  /* overflow-y: auto;
  overflow-x: hidden; */
  min-width: 16px;
  min-height: 16px;
  background-color: #ffffff50;
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);
}

.paper-popover:focus {
  outline: none;
}
