.btn {
  font-size: var(--font-size-btn);
  font-weight: var(--btn-font-weight);
  height: calc(var(--input-btn-padding-y) * 2 + var(--input-btn-line-height));
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: calc(var(--btn-border-radius) * (var(--input-btn-padding-y) * 2 + var(--input-btn-line-height)));
  transition: all 0.3s ease 0s;
  /*for ripple-effect*/
  position: relative;
  text-transform: uppercase;
  letter-spacing: .07em;
  display: inline-flex;
  justify-content: center;
}

.fab.btn:before {
  border-radius: 50%;
}

.color-primary {
  color: var(--colorOverPrimary);
  background-color: hsla(var(--huePrimary), var(--saturationPrimary), var(--lightnessPrimary), 0.2);
  border-color: hsl(var(--huePrimary), var(--saturationPrimary), var(--lightnessPrimary));
}

.color-primary.contained {
  background-color: hsl(var(--huePrimary), var(--saturationPrimary), var(--lightnessPrimary));
}

.color-primary:hover,
.color-primary.active.contained {
  filter: brightness(90%) saturate(200%) drop-shadow(0 0 8px hsla(var(--huePrimary), var(--saturationPrimary), var(--lightnessPrimary), 0.5));
}

.color-secondary {
  color: var(--colorOverSecondary);
  background-color: hsla(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary), 0.2);
  border-color: hsl(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary));
}

.color-secondary.contained {
  background-color: hsl(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary));
}

.color-secondary:hover {
  filter: brightness(90%) saturate(200%) drop-shadow(0 0 8px hsla(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary), 0.5));
}

.color-accent {
  color: hsl(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent));
  background-color: hsla(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent), 0.2);
  border-color: hsl(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent));
}

.color-accent.contained {
  color: var(--colorOverAccent);
  background-color: hsl(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent));
}

.color-accent:hover {
  filter: brightness(90%) saturate(200%) drop-shadow(0 0 8px hsla(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent), 0.5));
}

.color-default {
  color: hsla(0, 0%, 0%, 0.7);
  border-color: hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 0%, 80%, 0.8);
}

.color-default.more-link:after {
  background: hsla(0, 0%, 80%, 0.8);
}

.color-default.contained {
  background: hsla(0, 0%, 80%, 0.4);
}

.color-default:hover {
  background: hsla(0, 0%, 0%, 0.2);
}

.disabled {
  filter: grayscale(100%) contrast(0.15) brightness(1.6);
  cursor: not-allowed !important;
  pointer-events: none;
}

.disabled:hover:before {
  visibility: hidden;
}

.start-icon {
  display: flex;
  margin-right: 3px;
}

.end-icon {
  display: flex;
  margin-left: 3px;
}

.fab {
  width: 56px;
  height: 56px;
  min-width: 0;
  border-radius: 50%;
}

.fab.btn--bg.color-primary:hover, .btn--fab.btn--bg.color-accent:hover {
  filter: hue-rotate(110deg);
}

.fab .label {
  padding: 0;
}

.fab.btn--sm {
  width: 40px;
  height: 40px;
  min-width: 0;
  border-radius: 50%;
}

.size-sm {
  height: calc(var(--input-btn-padding-y) * 1 + var(--input-btn-line-height)) !important;
}

.size-lg {
  height: calc(var(--input-btn-padding-y) * 4 + var(--input-btn-line-height)) !important;
}

.full-width {
  width: 100%;
}
