.root {
  padding: 2px;
}

.disabled {
   color: #ddd;
 }

.input {
   cursor: inherit;
   position: absolute;
   opacity: 0;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
 }

.checked{
  transform: translateX(100%);
}
.switch-color-secondary .switch-base-checked {
  color: hsl(var(--color-secondary-txt)) !important;
}
