.field-control {
  /*Mimics the default input display property used by browsers for an input.*/
  display: inline-flex;
  position: relative;
  color: currentColor;
  padding-bottom: 2px;
}

.field-control .field-control--postfix {
  position: absolute;
  right: 0;
  top: 30%;
}

.field-control--underline:before {
  background-color: hsl(0, 0%, 80%);
  left: 0;
  bottom: 0;
  /*Doing the other way around crash on IE11 "" https://github.com/cssinjs/jss/issues/242*/
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
}

.field-control--underline:hover:not(.disabled):before {
  background-color: #000;
  height: 2px;
}

.field-control--underline.field-control--disabled:before {
  background-color: #ccc;
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 5px 1px;
}

.field-control--underline:after {
  background-color: hsl(var(--hueSecondary), var(--saturationSecondary), var(--lightnessSecondary));
  left: 0;
  bottom: 0;
  /*Doing the other way around crash on IE11 "" https://github.com/cssinjs/jss/issues/242*/
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 0.3s ease 0s;
}

.field-control--multiline {
  padding: 10px 0 10px;
}

.field-control--fullWidth {
  width: 100%;
}
