/*    imported from stepper.css    */

/*   imported from stepper.css   */

/*  imported from stepper.css  */

._16lQ_{
  &-root {
    display: flex;
    padding: 24px;
  }
  /* Styles applied to the root element if `orientation="horizontal"`. */
  &-horizontal {
    flex-direction: row;
    align-items: center;
  }
  /* Styles applied to the root element if `orientation="vertical"`. */
  &-vertical {
    flex-direction: column;
  }
  /* Styles applied to the root element if `alternativeLabel={true}`. */
  &-alternativeLabel {
    align-items: flex-start;
  }
}
