.root {
  margin-bottom: 8px;
  position: relative;
}

.root:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 12px;
  top: 24px;
  background-color: #ccc;
}

.alternativeLabel {
  flex: 1;
  position: relative;
}
