.root {

}

.popper {
  z-index: 100;
}

.paper {
  overflow: auto;
  background-color: #FFF;
}

.listbox {
  list-style: none;
  margin: 0;
  max-height: 40vh;
  overflow: auto;
  background-color: #FFF;
}

.option {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

[aria-selected="true"] {
  background-color: hsla(var(--hueAccent), var(--saturationAccent), var(--lightnessAccent), 0.2);
}

.end-adornment {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 14px);
  right: 9px;
}

.input {
  width: 0;
  min-width: 30px;
  flex-grow: 1;
}

.input-root {
  padding-right: 52px;
}

.loading, .no-options, .option {
  padding: 6px 16px;
  min-height: 40px;
}

.control {
  min-width: 190px !important;
}
