.list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.dense {
  padding-top: 4px;
  padding-bottom: 4px;
}

.subheader {
  padding-top: 0;
}

.avatar {
  width: 36px;
  height: 36px;
  font-size: 16px;
  margin-right: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  font-size: 16px;
}