.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container {
  position: relative;
}

.keyboard-focused {
  background: #ccc;
}

.default {
  padding-top: 8px;
  padding-bottom: 8px;
}

.dense {
  padding-top: 2px;
  padding-bottom: 2px;
}

.root[disabled] {
  opacity: 0.5;
}

.divider {
  border-bottom: 1px solid #ccc;
}

.gutters {
  padding-left: 1rem;
  padding-right: 1rem;
}

.button {
  width: 100%;
}

.button[aria-selected="true"] {
  text-decoration: none;
  background-color: #ddd;
}

.button:hover {
  text-decoration: none;
  background-color: #ccc;
}

.button:hover .disabled {
  background-color: transparent;
}

.secondary-action {
  padding-right: 16px;
  display: inline-flex;
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  margin-left: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.has-secondary-action {
  padding-right: 48px;
}

.secondary-action-start {
  padding-left: 16px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 4px;
}

.icon {
  height: 24;
  margin-right: 16px;
  width: 24;
  color: 16px;
  flex-shrink: 0;
}

.text {
  padding: 0;
  text-align: left;
}

.text:first-child {
  padding-left: 0;
}

.text-secondary {
  color: var(--text-muted);
  font-size: 0.85rem;
}

.text-dense {
  font-size: inherit;
}

.text-multiline {
  margin-top: 0;
  margin-bottom: 0;
}
